<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../public/assets/css/responsive.css">
	
	<link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
	<script src="../../public/assets/js/jquery.min.js"></script>
	<script src="../../public/assets/js/popper.min.js"></script>
	<script src="../../public/assets/js/bootstrap.min.js"></script>

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

</head>
<body style="background-image: url(images/b3.jpg) !important; background-size: cover !important;">
	<nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="../../public/assets/images/logo.png" class="logo img-fluid">
			</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample05">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/faq">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown user-link">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<!-- <img src="images/user.png" class="img-fluid user-img"> -->
							<i class="fas fa-user"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdown05">
							<a class="dropdown-item" href="/workout">Workout Log</a>
							<a class="dropdown-item" href="/account">Account</a>
							<a class="dropdown-item" href="/login/logout">Logout</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="margin-top"></div>

	<!-- <div class="banner2">
		<img src="images/b3.jpg" class="img-fluid">
	</div> -->

	<div class="Workout-section wrapper exercise tools">
		<div class="container">
			<div class="row Workout-box mt-0">
				<div class="col-lg-3 col-md-4 sidebar">
					<div class="sidebar-inner">
						<ul class="menu">
							<li><a href="/workout/exercise"><i class="fas fa-running"></i> Exercise</a></li>
							<li><a href="/workout/category"><i class="fas fa-sliders-h"></i> Category</a></li>
							<li><a href="/workout/routine"><i class="fas fa-calendar-alt"></i> Routine</a></li>
							<li><a href="/workout/tools" class="active"><i class="fas fa-wrench"></i> Tools</a></li>
						</ul>
					</div>
					
				</div>
				<div class="col-lg-9 col-md-8 content">
					<h2>Weight</h2>
					<div class="tool-inner">
						<div class="tab-menu">
							<ul class="nav nav-pills nav-fill">
							  <li class="nav-item">
							    <a class="nav-link" href="/workout/weight">New</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link active disabled" href="/workout/history">History</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" href="/workout/graph">Graph</a>
							  </li>
							</ul>
						</div>

						<div class="tab-content">
								<% if(data) { %>
									<% data.forEach(function(history) { %>
							<div class="history-box">
								<div class="his1 d-flex justify-content-between">
									<div class="left">
										<p><%= history.Date %></p>
									</div>
									<div class="right">
										<p><%= history.time %> AM</p>
										<div class="icon">
											<div class="btn-group">
												<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="sr-only">Toggle Dropdown</span>
												</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" href="#!">Edit Log</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="/workout/weight/delete/<%= history.id %>">Delete Log</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="his2 d-flex justify-content-between">
									<table class="table table-borderless">
										<tbody>
											<tr>
												<td><p><strong>Weight:</strong></p></td>
												<td><p><%= history.weight %> Kg</p></td>
											</tr>
											<tr>
												<td><p><strong>Notes:</strong></p></td>
												<td><p><%= history.Notes %></p></td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>

							<% }) } %>
						</div>
					</div>
				</div>
			</div>

			
		</div>





	</div>


	<div class="footer">
		<div class="container">
			<p class="copy">© 2019 Workout. Designed & Developed By Anthony Parker Damion Fikes Darius Fields</p>
		</div>
	</div>
</body>
</html>